Node-red flow level control.txt
[{"id":"66388641.43a318","type":"mqtt in","z":"c395487a.cb93d8","name":"","topic":"v3/deposit-aigua-granja@ttn/devices/87654321/up","qos":"2","datatype":"auto","broker":"f9ff8714.484a98","nl":false,"rap":true,"rh":0,"x":230,"y":160,"wires":[["83a62290.a1bab","d7fe145.9de2fe8"]]},{"id":"83a62290.a1bab","type":"debug","z":"c395487a.cb93d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":660,"y":80,"wires":[]},{"id":"d7fe145.9de2fe8","type":"function","z":"c395487a.cb93d8","name":"payload","func":"var msg1 = { payload: msg.payload.length };\nmsg1.payload = JSON.parse(msg.payload);\nmsg1.payload = msg1.payload.uplink_message.decoded_payload;\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":160,"wires":[["fea994.ec47c67","bb0271b1.a47418"]]},{"id":"fea994.ec47c67","type":"function","z":"c395487a.cb93d8","name":"Distance","func":"var a = msg.payload;\nmsg.payload=a.Distance;\nif(a.Distance>0){\nvar b=a.Distance;\nflow.set('silo1',b);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":160,"wires":[["4f56c896.6cfcd","898dc63e.058e98","964a173.783e368"]]},{"id":"4f56c896.6cfcd","type":"debug","z":"c395487a.cb93d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":80,"wires":[]},{"id":"bb0271b1.a47418","type":"debug","z":"c395487a.cb93d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":220,"wires":[]},{"id":"898dc63e.058e98","type":"mqtt out","z":"c395487a.cb93d8","name":"","topic":"distance_cm","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"d29593f6.c09808","x":930,"y":160,"wires":[]},{"id":"964a173.783e368","type":"switch","z":"c395487a.cb93d8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"500","vt":"num"},{"t":"lte","v":"500","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":400,"y":360,"wires":[["e73a8d62.beda98"],["6703c331.4cf22c"]]},{"id":"7fa5eb8c.efc044","type":"debug","z":"c395487a.cb93d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":340,"wires":[]},{"id":"49029827.471c7","type":"debug","z":"c395487a.cb93d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":400,"wires":[]},{"id":"e73a8d62.beda98","type":"function","z":"c395487a.cb93d8","name":"Depósito vacío","func":"msg.payload=\"Depósito vacío\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":340,"wires":[["7fa5eb8c.efc044","ce81751a.939f78"]]},{"id":"6703c331.4cf22c","type":"function","z":"c395487a.cb93d8","name":"Depósito lleno","func":"msg.payload=\"Depósito lleno\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":400,"wires":[["49029827.471c7","44804d98.2ec1e4"]]},{"id":"44804d98.2ec1e4","type":"function","z":"c395487a.cb93d8","name":"relay r0 r1 open","func":"var b = new Buffer(3);\nb=[0x03,0x00,0x00];\nmsg.payload = b;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":580,"wires":[["ccb2102c.fb854"]]},{"id":"ce81751a.939f78","type":"function","z":"c395487a.cb93d8","name":"relay r0 r1 close","func":"var b = new Buffer(3);\nb=[0x03,0x01,0x01];\nmsg.payload = b;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":480,"wires":[["ccb2102c.fb854"]]},{"id":"3f6d39a2.107b26","type":"inject","z":"c395487a.cb93d8","name":"close","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":580,"wires":[["44804d98.2ec1e4"]]},{"id":"e5bb5f75.68107","type":"inject","z":"c395487a.cb93d8","name":"open","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":500,"wires":[["ce81751a.939f78"]]},{"id":"ccb2102c.fb854","type":"function","z":"c395487a.cb93d8","name":"{UTF8-Hex_base64}","func":"var b = new Buffer(msg.payload);\nmsg.payload = b.toString('base64');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":520,"wires":[["dee22136.ad323"]]},{"id":"dee22136.ad323","type":"function","z":"c395487a.cb93d8","name":"downlink format","func":"var payloadB64 =msg.payload;\nmsg.payload = {\n\n  \"downlinks\": [{\n    \"f_port\": 1,\n    \"frm_payload\": payloadB64,\n    \"priority\": \"NORMAL\"\n  }]\n\n\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":580,"wires":[["81728745.9b0498"]]},{"id":"81728745.9b0498","type":"mqtt out","z":"c395487a.cb93d8","name":"","topic":"v3/input-output@ttn/devices/input-output/down/push","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ff4c69ea.701958","x":970,"y":560,"wires":[]},{"id":"f9ff8714.484a98","type":"mqtt-broker","z":"c395487a.cb93d8","name":"figueres ttn","broker":"eu1.cloud.thethings.network","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"d29593f6.c09808","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"ff4c69ea.701958","type":"mqtt-broker","z":"c395487a.cb93d8","name":"io ttn","broker":"eu1.cloud.thethings.network","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]